- data = current_resource.data
-#
-# host = 'http://ycam.karappo.jp'
- host = 'http://special.ycam.jp'
-#
-# TODO: 画像を変えた場合は、ここの?移行も変更
- chache_param = 'random-number-for-cache-clear-921689201'
!!!
%html{ lang: data.lang }
  %head
    %meta{charset: "utf-8"}
    %title= data.title
    %meta{name: "description", lang: "ja", content: data.description}
    %meta{name: "keywords",    lang: "ja", content: data.keywords}
    %meta{name: "copyright",   content: "Copyright © 2016 Yamaguchi Center for Arts and Media, All Rights Reserved."}
    %meta{name: "viewport",    content: "width=640"}

    %meta{property: "og:locale", content: "ja_JP"}
    %meta{property: "og:title", content: data.title}
    %meta{property: "og:site_name", content: data.title}
    %meta{property: "og:description", content: data.description}
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:url", content: "#{host}/dna-of-forests/"}
    %meta{property: "og:image", content: "#{host}/dna-of-forests/img/share.png?#{chache_param}"}
    %meta{property: "fb:app_id", content: "205454639864260"}

    %meta{name: "twitter:site", content: '@ycam_jp'}
    %meta{name: "twitter:title", content: data.title}
    %meta{name: "twitter:card", content: 'summary_large_image'}
    %meta{name: "twitter:url", content: "#{host}/dna-of-forests/"}
    %meta{name: "twitter:description", content: data.description}
    %meta{name: "twitter:image", content: "#{host}/dna-of-forests/img/share.png?#{chache_param}"}

    - if data.styles
      - data.styles.each do |file|
        = stylesheet_link_tag "#{file}"

    - if data.scripts
      - data.scripts.each do |file|
        = javascript_include_tag "#{file}"

    = partial 'partials/google_analytics'

  %body
    = partial 'partials/facebook_like_button'
    = yield
